// gitignore para python    
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
pip-wheel-metadata/
*.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.pyre//
.mypy_cache/
.dmypy.json
.pytype/
.pytype/
cython_debug/
instance/
.webassets-cache/
.scrapy/
docs/_build/